<div class="row">
<div class="span12">      		
	   		
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-plus"></i>
 			<h3>添加用户</h3>
		</div> <!-- /widget-header -->

		<div class="widget-content">
		
		<div class="alert alert-danger hide" role="alert"></div>

		<form id="add-task" action="{{urlfor "UserController.Add"}}" method="post" class="form-horizontal">
			<fieldset>
                <div class="control-group">
                    <label class="control-label" for="username">账户</label>
                    <div class="controls">
                        <input type="text" class="span3 " id="account" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="username">昵称</label>
                    <div class="controls">
                        <input type="text" class="span3 " id="username" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="task_name">Email</label>
                    <div class="controls">
                        <input type="text" class="span3" id="email" name="email" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="status">禁用</label>
                    <div class="controls">
                        <input type="checkbox"  id="status" name="status" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="role">管理员</label>
                    <div class="controls">
                        <input type="checkbox" id="role" name="role"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password1">新密码</label>
                    <div class="controls">
                        <input type="password" class="span3" id="password1" name="password1" value="" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password2">确认密码</label>
                    <div class="controls">
                        <input type="password" class="span3" id="password2" name="password2">
                    </div>
                </div>
		
				<br />
				
					
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">保 存</button> 
					<a href="{{urlfor "UserController.List"}}" class="btn">返 回</a>
				</div> <!-- /form-actions -->
			</fieldset>
		</form>

		</div>
	</div>
</div>
</div>

<script>
$(function () {
	$("form").submit(function () {
		$(".alert").hide();
		$("button[type='submit']").attr('disabled', true);
		$.post('{{urlfor "UserController.Add"}}', $(this).serialize(), function (out) {
			if (out.status == 0) {
				window.location.href = '{{urlfor "UserController.List"}}';
			} else {
				$(".alert").text(out.msg);
				$(".alert").show();
				$("button[type='submit']").attr('disabled', false);
			}
		}, "json");
		return false;
	});
});
</script>