appname = webcron
httpport = 8000
runmode = dev

# 允许同时运行的任务数
jobs.pool = 10

# 站点名称
site.name = 定时任务管理器

# ================================================================================
# 数据库配置
#db.adapter=mysql
#db.host = 127.0.0.1
#db.user = root
#db.password = pw@123456
#db.port = 3306
#db.name = webcron

db.adapter=sqlite3
db.database=./database/cron.sqlite3

db.prefix = cron_
db.timezone = Asia/Shanghai
# ================================================================================

# ================================================================================
# 邮件服务器配置
mail.queue_size = 100
mail.from = no-reply@example.com
mail.host = smtp.example.com
mail.port = 25
mail.user = username
mail.password = your password
# ================================================================================


# ================================================================================
# Active Directory/LDAP
#
#是否启用ldap
ldap.enable=false
#ldap主机名
ldap.host=192.168.1.1
#ldap端口 389 3268
ldap.port=389
#ldap内哪个属性作为用户名 sAMAccountName
ldap.attribute=userPrincipalName
#userPrincipalName
#搜索范围
ldap.base=dc=corp,dc=local
#第一次绑定ldap用户dn
ldap.user=cn=ldapbind,cn=users,dc=corp,dc=local
#第一次绑定ldap用户密码
ldap.password=P@ssw0rd
#ldap搜索filter规则,如: AD服务器 objectClass=User, openldap服务器 objectClass=posixAccount
ldap.filter=objectClass=User
#ldap  显示名称
ldap.name=displayName
#ldap mail
ldap.mail=mail
#
# ================================================================================
