<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="error-container">
				<h1>404</h1>
				
				<h2>page not found.</h2>
				
				<div class="error-details">
					你访问的页面不存在，请确定url是否有误。
				</div> <!-- /error-details -->
				
				<div class="error-actions">
					<a href="javascript:history.back();" class="btn btn-large btn-primary">
						<i class="icon-chevron-left"></i>
						&nbsp;
						返回上一页						
					</a>	
				</div> <!-- /error-actions -->
							
			</div> <!-- /error-container -->			
		</div> <!-- /span12 -->	
	</div> <!-- /row -->
</div> <!-- /container -->

<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>