
		
		<div class="span12">
			
			<div class="error-container">
				<h1>404</h1>
				
				<h2>{{.message}}</h2>
				
				<div class="error-details">
					Sorry, an error has occured! Why not try going back to the <a href="index.html">home page</a> or perhaps try following!
					
				</div> <!-- /error-details -->
				
				<div class="error-actions">
					<a href="index.html" class="btn btn-large btn-primary">
						<i class="icon-chevron-left"></i>
						&nbsp;
						Back to Dashboard						
					</a>
					
					
					
				</div> <!-- /error-actions -->
							
			</div> <!-- /error-container -->			
			
		</div> <!-- /span12 -->
		
	
